body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*? Home */
/* Header*/

.containerHeader {
  padding: 6px;
  background-color: #ac5418;
}

.containerHeader a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fefefe;
  font-size: 24px;
  padding-left: 4px;
  text-decoration: none;
}

.containerHeader a:hover {
  color: #fefefed4;
}

/* Cabecera */

.containerCab {
  position: relative;
  background-image: url("../img/imgIglesia.jpg");
  background-size: cover;
  height: 300px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: #fefefe;
  padding-left: 10px;
  z-index: 1; /* Asegura que el texto esté encima del pseudo-elemento */
}

.containerCab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Ajusta la opacidad para la oscuridad deseada */
  z-index: -1; /* Coloca la capa oscura debajo del contenido */
}

.containerCab h1,
.containerCab p {
  z-index: 2; /* Asegura que el texto esté por encima de la capa oscura */
}

.containerCab h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  margin-bottom: 0px;
}

.containerCab p {
  font-size: 16px;
}

/* Bottones */

.containerButtons {
  margin: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.containerButtons input[type="radio"] {
  display: none; /* Oculta los radio buttons */
}

.containerButtons .button {
  width: 400px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #2712007e; /* #575757a2; */
  background-color: #e9ba87; /* #d7d7d7; Color de fondo del botón */
  text-align: center;
  line-height: 2; /* Ajusta para centrar verticalmente el texto */
}

.containerButtons .button:first-of-type {
  border-radius: 10px 1px 1px 10px; /* Bordes redondeados para el primer botón */
}

.containerButtons .button:last-of-type {
  border-radius: 1px 10px 10px 1px; /* Bordes redondeados para el segundo botón */
}

.containerButtons input[type="radio"]:checked + .button {
  background-color: #b85f12; /* #b0b0b0; Color de fondo cuando está seleccionado */
  color: #fefefe;
}

.containerButtons .button:hover {
  background-color: #b86012dc; /*#b0b0b0; Color de fondo al pasar el mouse */
}

/* Personajes */

#pjs,
#rol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.containerPjs:hover {
  filter: brightness(80%);
}

.containerPjs {
  background-color: #d4943c; /* #e1e1e1; */
  border-radius: 30px;
  margin: 6px;
  width: 140px; /* Fija el ancho del contenedor */
  overflow: hidden; /* Para asegurar que la imagen no se desborde */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 3px #0000007c;
}

.imgWrapper {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  padding-top: 100%; /* Mantiene la proporción cuadrada */
  position: relative; /* Necesario para posicionar la imagen */
}

.imgWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para que cubra el área del contenedor */
  border-radius: 30px 30px 0 0; /* Ajusta el borde superior si se desea */
}

.textWrapper {
  padding: 10px;
  text-align: center;
}

.containerPjs h3,
.containerPjs p {
  margin: 5px 0;
}

.containerPjs h3 {
  font-size: 16px;
}

.containerPjs p {
  font-size: 14px;
}

/*? Pagina personajes */

.contentPj {
  margin: 20px;
}

.contentPj h3,
.contentPj p {
  margin: 10px 0px 0px 0px;
}

.contentPj h2,
.recom {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.resalt {
  font-weight: bold;
}

.salto {
  display: block; /* Forza el salto de línea */
  margin-top: 10px; /* Espacio entre las líneas */
}

.curio ul li {
  margin-bottom: 6px;
}

/* recomendacion */

.recomend {
  display: flex;
  flex-direction: row;
}

.recomend .containerPjs {
  margin: 5px;
  width: 120px;
  cursor: pointer;
}

.recomend .containerPjs h3 {
  margin: 0px;
  font-size: 16px;
}

/*? Pagina del Rol */

#fichaRol .containerCab h1 {
  margin-bottom: 20px;
}
#fichaRol h2,
#fichaRol contentRol {
  margin: 20px;
}

#fichaRol .pjsRol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#fichaRol .containerPjs {
  cursor: pointer;
  margin: 5px;
  width: 130px;
}
